<div class="user text-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('user-banner.png') %>)">
   <h1><%= @user.first_name %> <%= @user.last_name %></h1>
   <h2><%= @skill.name.upcase %></h2>
</div>

<div class="user-info text-center">
  <p> <%= @skill.description %> </p>
  <div class="underline-tagline text-center"></div>
</div>

<div class="booking-container">
  <div class="container text-center">
    <div class="meeting-title text-center round-i">
      <i class="fa fa-handshake-o" aria-hidden="true"></i>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div>
            <%= render 'bookings/booking_form'  %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div id ="map" style="width: 100%; height: 400px; border-style: solid; border-width: 7px; box-shadow: 2px 2px 10px #B1B1B1; border-color: #fff; border-radius: 16px 16px; margin-top: 30px; margin-bottom: 20px;">
              <% content_for(:after_js) do %>
                <script>
                  $(document).ready(function() {
                    var styles = [{"featureType":"administrative.neighborhood","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"landscape.natural.landcover","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"landscape.natural.landcover","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"landscape.natural.terrain","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi.attraction","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.government","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.medical","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#cbe3cc"}]},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi.place_of_worship","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.school","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.sports_complex","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.highway.controlled_access","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"road.arterial","elementType":"labels","stylers":[{"visibility":"simplified"},{"invert_lightness":true}]},{"featureType":"road.local","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"visibility":"on"}]},{"featureType":"road.local","elementType":"labels","stylers":[{"invert_lightness":true}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"transit","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"transit","elementType":"labels.text","stylers":[{"visibility":"simplified"},{"color":"#777777"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"off"},{"lightness":700}]},{"featureType":"transit.line","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#9cdfdf"},{"visibility":"simplified"}]}];
                    var handler = Gmaps.build('Google');
                    handler.buildMap({
                      provider: {
                        styles: styles,
                        scrollwheel: false
                        // pass in other Google Maps API options here
                        // => https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                      },
                      internal: { id: 'map' }
                    }, function() {
                      markers = handler.addMarkers(<%= raw @hash.to_json %>);
                      handler.bounds.extendWith(markers);
                      handler.fitMapToBounds();
                      if (markers.length == 0) {
                        handler.getMap().setZoom(2);
                      } else if (markers.length == 1) {
                        handler.getMap().setZoom(14);
                      }
                    });
                  });
                </script>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

