<div class="user text-center align-items">
   <h1><%= @user.first_name %> <%= @user.last_name %></h1>
</div>

<div class="wrapper" style= "margin-top: 60px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset">
        <div class="user-info">
          <h1> <%= @user.first_name %>'s skill: <%= @skill.name %> </h1>
          <p> <%= @skill.description %> </p>
        </div>
        <div class="map">

        </div>
      </div>
      <div class="col-xs-4 col-xs-offset-1">
        <div class="booking-card">
          <%= render 'bookings/booking_form' %>
        </div>
      </div>
    </div>
  </div>
</div>






