<div class="user text-center align-items" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),url(<%= image_path('user-banner.png') %>)">
   <h1><%= @user.first_name %> <%= @user.last_name %></h1>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="user-info">
          <h1> <%= @user.first_name %>'s skill: <%= @user.skills.name %> </h1>
          <p> <%= @skill.description %> </p>
        </div>
        <div class="map">

        </div>
      </div>
      <div class="col-xs-6">
        <div class="booking-card">
          <%= render 'bookings/booking_form' %>
        </div>
      </div>
    </div>
  </div>
</div>






