<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= simple_form_for @skill do |f| %>
          <%= f.input :name %>
          <%= f.input :meeting_point %>
          <%#= f.input :zip_code %>
          <%#= f.input :city %>
          <%#= f.input :country, priority: [ 'FR' ] %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}"></script>
<% end %>

