<div class="banner" style="background-image: url(<%= image_path('tac-banner.png') %>)">
  <div>
    <h1>Don't Stay by Yourself</h1>
    <p>Get help from other techies around you</p>

    <form class="form-search" method="get" action="/skills">
        <input type="text" name="name" placeholder="browse skills...">
        <button type="submit">Search</button>
        <i class="fa fa-search"></i>
    </form>
  </div>
</div>



<div class="container text-center wraper-text">
  <h1> TECH A COFFEE,</h1>
  <h2>the first skills social network</h2>
  <div class="underline-tagline text-center"></div>
</div>



<div class="full-width reference-list">
  <h2 class="text-center">They trust us</h2>
  <ul class="list-unstyled list-inline text-center">
    <li>
      <%= image_tag 'Artboard.png', class:"img_reference" %>
      <p><strong>Bill Gates</strong></p>
      <p>Founder of Microsoft</p>
    </li>
    <li>
      <%= image_tag 'Artboard 2.png', class:"img_reference" %>
      <p><strong>Xavier Niel</strong></p>
      <p>founder of Free</p>
    </li>
    <li>
      <%= image_tag 'mark.png', class:"img_reference" %>
      <p><strong>Mark Zuckerberg</strong></p>
      <p>Founder of Facebook</p>
    </li>
    <li>
      <%= image_tag 'joe.png', class:"img_reference" %>
      <p><strong>Joe Gebbia</strong></p>
      <p>Founder of Airbnb</p>
    </li>
  </ul>
</div>



<div class="features form-inline">
  <div class="container text-center">
  <h1>How it works?</h1>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="box-features">
          <i class="fa fa-search" aria-hidden="true"></i>
          <h2>Look</h2>
          <p> Thanks to the "Tech a Coffee" community, you can browse any skill you want - SEO, SEA, RUBY... Our members are here to help you ! </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box-features">
          <i class="fa fa-hand-o-up" aria-hidden="true"></i>
          <h2>Find</h2>
          <p> Then, you will be able to choose between the professionnal you found with the skill you want. </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box-features">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <h2>Meet</h2>
          <p> Let's meet together around a coffee or a beer ! </p>
          <p> </p>
        </div>
      </div>
    </div>
  </div>
</div>
